.AvatarRegister {
  display: flex;
  width: 25vh;
  height: fit-content;
}

.InputRegister{
  display: flex;
  width: 35vw;
  height: 2.5rem;
  font-size: 1.15rem;
}

.SubmitButtonRegister {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 2.5rem;
  background-color: #79C7D9;
  border: 3px solid #2BB9D9;
  color: black;
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #2BB9D9;
  }
}

.LinkButtonRegister {
  color: #70B3CD;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.VersionRegister {
  font-family: "Poppins", sans-serif;
  font-size: .75rem;
  margin: 0 auto 10px auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .AvatarRegister {
    width: 20vh;
  }
  .InputRegister{
    display: flex;
    width: 45vw;
    height: 2.25rem;
    font-size: 1.15rem;
  }
  .SubmitButtonRegister {
    width: auto;
    font-size: 1.25rem;
  }
  .LinkButtonRegister {
    color: #70B3CD;
    font-size: .8rem;
  }
  .VersionRegister {
    font-size: .8rem;
  }
}

@media (max-width: 425px) {
  .AvatarRegister {
    width: 20vh;
  }
  .InputRegister{
    display: flex;
    width: 75vw;
    height: 2.25rem;
    font-size: 1.15rem;
  }
  .SubmitButtonRegister {
    width: auto;
    height: 2rem;
    font-size: 1.15rem;
  }
  .LinkButtonRegister {
    color: #70B3CD;
    font-size: .75rem;
  }
  .VersionRegister {
    font-size: .75rem;
  }
}