@Background: url(../../assets/Background.png);

.ContainerClass {
  display: flex;
  background-color: rgba(234, 234, 234, 0.85);
  gap: 3vh;
  margin: auto;
  width: 30vw;
  height: auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 25px;
  position: relative;
}

.ContainerClasses {
  display: flex;
  flex-direction: column;
  background-color: rgba(234, 234, 234, 0.85);
  gap: 3vh;
  margin: auto;
  width: 75vw;
  height: 80vh;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 25px;
  position: relative;
}

.InputSearchClasses {
  width: 75%;
}

.CreateClassButton{
  color: #02732A;
  background-color: rgba(2, 115, 42, 0.15);
  border: 2px solid #02732A;
  border-radius: 5px;
  width: auto;
  height: 2rem;
  font-size: 1rem;
}

.inputTextAreaClass {
  margin-bottom: 50px;
  font-size: 1rem;
}

.ListClasses {
  width: 100%;
  overflow-y: scroll;
}

.TagShift{
  font-size: 1rem;
}

.ClassButton {
  color: #02732A;
  background-color: rgba(2, 115, 42, 0.15);
  border: 2px solid #02732A;
  border-radius: 5px;
  width: auto;
  height: 2rem;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.CancelClassButton {
  color: #02732A;
  background-color: rgba(2, 115, 42, 0.15);
  border: 2px solid #02732A;
  border-radius: 5px;
  width: auto;
  height: 2rem;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 1024px){
  .ContainerClass {
    width: 95vw;
    height: auto;
    margin-top: 5vh;
  }
  .ContainerClasses {
    width: 95vw;
    height: 75vh;
  }
  .TextClass {
    font-size: 1rem;
  }
  .InputClass {
    width: 100% !important;
    height: 2.5rem !important;
    font-size: 1rem !important;
    text-align: start;
  }
  .inputTextAreaClass {
    width: 100% !important;
    height: 5rem !important;
    font-size: 1rem !important;
  }
  .ListClasses {
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
  }
  .TagShift{
    font-size: .85rem;
  }
  .ClassButton {
    width: auto;
    height: 2rem;
    font-size: 1rem;
  }
  .CancelClassButton {
    width: auto;
    height: 2rem;
    font-size: 1rem;
  }
}

@media (max-width: 425px){
  .ContainerClass {
    width: 95vw;
    height: auto;
  }
  .ContainerClasses {
    width: 95vw;
    height: 80vh;
  }
  .TextClass {
    font-size: 1rem;
  }
  .InputClass {
    width: 100% !important;
    height: 2rem !important;
    font-size: 1rem !important;
  }
  .inputTextAreaClass {
    width: 100% !important;
    height: 5rem !important;
    font-size: .85rem !important;
  }
  .ListClasses {
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
  }
  .TagShift{
    font-size: .75rem;
  }
  .ClassButton {
    width: auto;
    height: 2rem;
    font-size: 1rem;
  }
  .CancelClassButton {
    width: auto;
    height: 2rem;
    font-size: 1rem;
  }
  .InputSearchClasses {
    width: 100%;
  }
  .CreateClassButton{
    width: auto;
    font-size: 1rem;
    margin: 10px auto;
  }

  
}
