@Background: url(../../assets/Background.png);

.ContainerProfile {
  display: flex;
  background-color: rgba(234, 234, 234, 0.85);
  margin: auto;
  width: 50vw;
  height: 90vh;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 25px;
  position: relative;
}

.FormItemProfile {
  width: 100%;
}

.InputProfile {
  width: 100% !important;
  height: 5vh !important;
}

.RowItemProfile {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ListUsers {
  width: 100%;
  overflow-y: scroll;
}

.EditPasswordButton {
  color: #E50013;
  background-color: rgba(242, 185, 12, 0.25);
  border: 2px solid #F2B90C;
  border-radius: 5px;
  width: 10vw;
  height: 2vw;
  font-size: 1vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.SaveButtonProfile {
  color: #02732A;
  background-color: rgba(2, 115, 42, 0.15);
  border: 2px solid #02732A;
  border-radius: 5px;
  width: 15vw;
  height: 2vw;
  font-size: 1vw;
  position: absolute;
  bottom: 0;
  right: 0;
}

.CancelSavePasswordButton {
  color: #02732A;
  background-color: rgba(2, 115, 42, 0.15);
  border: 2px solid #02732A;
  border-radius: 5px;
  width: 40%;
  font-size: 1vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.SavePasswordButton {
  color: #E50013;
  background-color: rgba(242, 185, 12, 0.25);
  border: 2px solid #F2B90C;
  border-radius: 5px;
  width: 45%;
  font-size: 1vw;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1024px){
  .ContainerProfile {
    background-color: rgba(234, 234, 234, 0.85);
    margin: auto;
    margin-top: 5vh;
    width: 85vw;
    height: auto;
    padding: 50px 30px;
  }
  .FormItemProfile {
    text-align: end;
  }
  .InputProfile {
    width: 85% !important;
    height: 5vh !important;
    font-size: 2vh !important;
    text-align: start;
  }
  .TextProfile {
    font-size: 2.5vh;
  }
  .RowItemProfile {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .ListUsers {
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
  }
  .EditPasswordButton {
    width: 15vw;
    height: 4vh;
    font-size: 1.75vh;
    position: absolute;
    bottom: 0;
  }
  .SaveButtonProfile {
    width: 20vw;
    height: 4vh;
    font-size: 1.75vh;
    margin-left: 1vw;
  }
  .CancelSavePasswordButton {
    width: 15vw;
    height: 4vh;
    font-size: 1.75vh;
  }
  .SavePasswordButton {
    width: 20vw;
    height: 4vh;
    font-size: 1.75vh;
    margin-left: 4vw;
  }
}

@media (max-width: 425px){
  .ContainerProfile {
    background-color: rgba(234, 234, 234, 0.85);
    margin: auto;
    width: 85vw;
    height: auto;
    padding: 50px 10px;
  }
  .InputProfile {
    width: 85% !important;
    height: 5vh !important;
    font-size: 2vh !important;
  }
  .TextProfile {
    font-size: 2vh;
  }
  .RowItemProfile {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .ListUsers {
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
  }
  .EditPasswordButton {
    width: 30vw;
    height: 4vh;
    font-size: 1.75vh;
    position: absolute;
    bottom: 0;
  }
  .SaveButtonProfile {
    width: 35vw;
    height: 4vh;
    font-size: 1.75vh;
    margin-left: 1vw;
  }
  .CancelSavePasswordButton {
    width: 25vw;
    height: 4vh;
    font-size: 1.75vh;
  }
  .SavePasswordButton {
    width: 35vw;
    height: 4vh;
    font-size: 1.75vh;
    margin-left: 4vw;
  }
}
