@Background: url(../../assets/Background.png);

.ContainerProfile {
  display: flex;
  background-color: rgba(234, 234, 234, 0.85);
  margin: auto;
  width: 75vw;
  height: 60vh;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 25px;
}

.FormItemProfile {
  width: 100%;
}

.TextProfile {
  font-size: 1.80rem;
  margin: 0;
}

.InputProfile {
  width: 100% !important;
  height: 5vh !important;
}

.RowItemProfile {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.EditPasswordButton {
  color: #E50013;
  background-color: rgba(242, 185, 12, 0.25);
  border: 2px solid #F2B90C;
  border-radius: 5px;
  width: 50%;
  font-size: 1vw;
}

.SaveButtonProfile {
  color: #02732A;
  background-color: rgba(2, 115, 42, 0.15);
  border: 2px solid #02732A;
  border-radius: 5px;
  width: 40%;
  font-size: 1vw;
  margin-left: 40%;
  margin-top: 2.5%;
}

.CancelSavePasswordButton {
  color: #02732A;
  background-color: rgba(2, 115, 42, 0.15);
  border: 2px solid #02732A;
  border-radius: 5px;
  width: 40%;
  font-size: 1vw;
}

.SavePasswordButton {
  color: #E50013;
  background-color: rgba(242, 185, 12, 0.25);
  border: 2px solid #F2B90C;
  border-radius: 5px;
  width: 45%;
  font-size: 1vw;
  margin-left: 35%
}

@media (max-width: 1024px){

}

@media (max-width: 425px){
  .ContainerProfile {
    background-color: rgba(234, 234, 234, 0.85);
    margin: auto;
    width: 85vw;
    height: auto;
    padding: 50px 10px;
  }
  .FormItemProfile {
    width: 100%;
  }

  .InputProfile {
    width: 85% !important;
    height: 5vh !important;
    font-size: 2vh !important;
  }

  .TextProfile {
    font-size: 2vh;
  }
  
  .RowItemProfile {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .EditPasswordButton {
    width: 70%;
    font-size: 1.75vh;
    position: absolute;
    bottom: 0;
  }
  
  .SaveButtonProfile {
    width: 70%;
    font-size: 1.75vh;
    margin-left: 15%;
  }
  
  .CancelSavePasswordButton {
    width: 70%;
    font-size: 1.75vh;
    position: absolute;
    bottom: 0;
  }
  
  .SavePasswordButton {
    width: 70%;
    font-size: 1.75vh;
    margin-left: 30%;
  }
}
