@Background: url(../../assets/Background.png);

.ContainerClassroom {
  display: flex;
  background-color: rgba(234, 234, 234, 0.85);
  margin: auto;
  width: 50vw;
  height: 60%;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 25px;
  position: relative;
}

.ContainerClassrooms {
  display: flex;
  flex-direction: column;
  background-color: rgba(234, 234, 234, 0.85);
  gap: 3vh;
  margin: auto;
  width: 75vw;
  height: 80vh;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 25px;
  position: relative;
}

.InputSearchClassrooms {
  width: 75%;
}

.CreateClassroomButton{
  color: #02732A;
  background-color: rgba(2, 115, 42, 0.15);
  border: 2px solid #02732A;
  border-radius: 5px;
  width: auto;
  height: 2rem;
  font-size: 1rem;
}

.inputTextAreaClassroom{
  margin-bottom: 50px;
  font-size: 1rem;
}

.ListClassroom {
  width: 100%;
  overflow-y: scroll;
}

.ClassroomButton {
  color: #02732A;
  background-color: rgba(2, 115, 42, 0.15);
  border: 2px solid #02732A;
  border-radius: 5px;
  width: auto;
  height: 2rem;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.CancelClassroomButton {
  color: #02732A;
  background-color: rgba(2, 115, 42, 0.15);
  border: 2px solid #02732A;
  border-radius: 5px;
  width: auto;
  height: 2rem;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 1024px){
  .ContainerClassroom {
    width: 95vw;
    height: auto;
    margin-top: 5vh;
  }
  .ContainerClassrooms {
    width: 95vw;
    height: 75vh;
  }

  .InputSearchClassrooms {
    width: 75%;
  }
  
  .CreateClassroomButton{
    color: #02732A;
    background-color: rgba(2, 115, 42, 0.15);
    border: 2px solid #02732A;
    border-radius: 5px;
    width: auto;
    height: 2rem;
    font-size: 1rem;
  }
  .TextClassroom {
    font-size: 1rem;
  }
  .InputClassroom {
    width: 100% !important;
    height: 2.5rem !important;
    font-size: 1rem !important;
    text-align: start;
  }
  .inputTextAreaClassroom {
    width: 100% !important;
    height: 5rem !important;
    font-size: 1rem !important;
  }
  .ListClassroom {
    width: 100%;
    height: auto;
    overflow-y: scroll;
  }
  .ClassroomButton {
    width: auto;
    height: 2rem;
    font-size: 1rem;
  }
  .CancelClassroomButton {
    width: auto;
    height: 2rem;
    font-size: 1rem;
  }
}

@media (max-width: 425px){
  .ContainerClassroom {
    width: 95vw;
    height: auto;
  }
  .ContainerClassrooms {
    width: 95vw;
    height: 80vh;
  }

  .InputSearchClassrooms {
    width: 100%;
  }
  
  .CreateClassroomButton{
    width: auto;
    font-size: 1rem;
    margin: 10px auto;
  }
  .TextClassroom {
    font-size: .85rem;
  }
  .InputClassroom {
    width: 100% !important;
    height: 2rem !important;
    font-size: 1rem !important;
  }
  .inputTextAreaClassroom {
    width: 100% !important;
    height: 5rem !important;
    font-size: .85rem !important;
  }
  .ListClassroom {
    width: 100%;
    overflow-y: scroll;
  }
  .ClassroomButton {
    width: auto;
    height: 2rem;
    font-size: .85rem;
  }
  .CancelClassroomButton {
    width: auto;
    height: 2rem;
    font-size: .85rem;
  }
}
