@Background: url(../../assets/Background.png);

.TopMenu {
  display: block;
  position: absolute;
  top: 0;
}

.ContainerHome {
  background-color: rgba(234, 234, 234, 0.85);
  margin: auto;
  width: 80vw;
  height: 90vh;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 25px;
}

.ListReservations {
  margin-top: 10px;
  max-height: 75vh;
  overflow-y: scroll;
}

.EmpityMessage {
  margin-top: 20%;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #A5BFA4;
}

@media (max-width: 1024px) {
  .ContainerHome {
    width: 95vw;
    max-height: 85vh;
  }

  .ListReservations {
    margin-top: 10px;
    max-height: 70vh;
    overflow-y: scroll;
  }

  .EmpityMessage {
    margin-top: 20%;
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #A5BFA4;
  }
}

@media (max-width: 425px) {
  .ContainerHome {
  background-color: rgba(234, 234, 234, 0.85);
  margin: auto;
  width: 95vw;
  height: 85vh;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 25px;
}

.ListReservations {
  margin-top: 10px;
  max-height: 70vh;
  overflow-y: scroll;
}

.EmpityMessage {
  margin-top: 20%;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #A5BFA4;
}
}
