@Background: url(../../assets/Background.png);

.ContainerHome {
  background-color: rgba(234, 234, 234, 0.85);
  margin: auto;
  width: 80vw;
  height: 95vh;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 25px;
}

.ListReservations {
  max-height: 90vh;
  overflow-y: scroll;
}

.EmpityMessage {
  margin-top: 20%;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #A5BFA4;
}