
.LogoName {
  font-family: "Poppins", sans-serif;
  margin-top: '10px';
  color: #080640;
}

.ButtonMenu {
  margin: 10px auto;
  border: 3px solid #2BB9D9;
  border-radius: 5px;
  width: 95%;
  height: 40px;
  font-size: 1.5vw;
  font-family: "Poppins", sans-serif;
}

.ButtonMenuExit {
  margin: auto auto 25px auto;
  border: 3px solid #2BB9D9;
  border-radius: 5px;
  width: 95%;
  height: 40px;
  font-size: 1.5vw;
  font-family: "Poppins", sans-serif;
}

.Reservation {
  display: flex;
  width: 100%;
  height: 50%;
  max-height: 75%;
  background-color: #79C7D9;
  border: 1px solid #2BB9D9;
  cursor: pointer;
}

.ImageResv {
  margin: auto;
  border-radius: 15px;
}

.TitleResv {
  margin: 5px 0;
}

.TextResv {
  font-weight: bold;
  font-size: 1.25vw;
}

.TextCommon {
  font-size: 1.25vw;
  width: 350px;
}

.Version {
  font-family: "Poppins", sans-serif;
  font-size: .60vw;
  margin: 0 auto 10px auto;
}


/* sm: >= 640px (celulares maiores) */
@media (min-width: 640px) {
  body {
    font-size: 17px;
  }
}

/* md: >= 768px (tablets) */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/* lg: >= 1024px (notebooks) */
@media (min-width: 1024px) {
  body {
    font-size: 19px;
    max-width: 1000px;
    margin: 0 auto;
  }
}

/* xl: >= 1280px (desktops médios) */
@media (min-width: 1280px) {
  body {
    font-size: 20px;
    max-width: 1200px;
  }
}