@primary-color: #4CAF50;

.LogoName {
  font-family: "Poppins", sans-serif;
  margin-top: '10px';
  color: #080640;
}

.ButtonMenu {
  margin: 10px auto;
  border: 3px solid #2BB9D9;
  border-radius: 5px;
  width: 235px;
  height: 40px;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.ButtonMenuExit {
  margin: auto auto 25px auto;
  border: 3px solid #2BB9D9;
  border-radius: 5px;
  width: 235px;
  height: 40px;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}